/* Flex box stuff */

.flexbox-container {
    /* ... */
    display: flex;
    justify-content: center; 
  }

  .flexbox-column {
    flex-direction: column;
    align-items: center; 
  }

  .flexbox-column {
    flex-direction: column;
    align-items: center; 
  }

  .flexbox-row {
    flex-direction: column;
    
  }

  .flex-books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .flex-books-column {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .flex-top-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
  }

  .top-book {
    margin-right: auto;
    width: 50%;
    margin-left: auto;
}
  

  /* Everything esle */

  .work-cards {
    margin-bottom: 20px !important;
  }

  .work-title{
    max-height: 55px;
    padding: 15px 15px 15px 26px !important;
  }

  .date-column{
    max-width: 15%;
  }

  .left {
    float: right;
  }

  .bold-text {
    color: rgba(0, 0, 0, 1.9);
  }

  .right {
   padding-left: 48px
  }

  .experience-column-right {
    padding-left: 20px;
  }


  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .flex-column-left {
    display: flex;
    flex-basis: 100%;
    flex: 1;
    align-items: left; 
  }

/* end of flex box stuff */

.background-color {

    min-height: 120px;
    /* background-color: #f7cac9; */
}


.page-load {
    display: none;
}


.fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
  }
  
  
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  .fade-out {
    animation: fadeOut ease 0.5s;
    -webkit-animation: fadeOut ease 0.5s;
    -moz-animation: fadeOut ease 0.5s;
    -o-animation: fadeOut ease 0.5s;
    -ms-animation: fadeOut ease 0.5s;
  }
  
  
  @keyframes fadeOut{
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  

  /* The style below is just for the appearance of the example div */
  
  .style {
    width:90vw; height:90vh;
    text-align:center;
    padding-top:calc(50vh - 50px);
    margin-left:5vw;
    border:4px double #F00;
    background-color:#000;
  }
  .style p {
    color:#fff;
    font-size:50px;
  }


  .stretch {
    padding-bottom: 140%;
  }